@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    /* background-image:  url(images/wedding-plan-new.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* backdrop-filter: blur(10px); */
}

body.loginpage{
    /* font-family: 'Poppins', sans-serif; */
    background-image:  url(images/wedding-plan-new.jpg);
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    backdrop-filter: blur(10px);
}

/* body.sidepage{
    background-color: #ccbbbf;
    backdrop-filter: blur(10px);

} */


/*------------ Login container ------------*/

.box-area{
    width: 980px;
}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}

.card {
    border-radius: 20px;
  }

  .card-img-top{
    border-radius: 20px 20px 0 0;
  }

  /* nav{
    background-color: #babfc2;
    position: fixed;
    z-index: 1;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
}
nav ul li{
    display: inline-block;
    margin: 0 15px;
    padding: 0;
    font-size: 14px;

}

nav ul{
    margin: 0 auto;
    text-align: center;
    padding: 30px;

}

nav li a:hover{
    text-decoration: underline;
} */

.container{
    margin-top: 20px;
}

header{
    top: 70px;
    position: relative;
    margin-bottom: 10px;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y : -145px;
}